.masthead {
    background-image: url('../img/desk3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
}

.masthead-heading,
.masthead-intro {
  text-align: center;
  color: white;
}

.masthead-heading {
  font-size: 40px;
  line-height: 100px;
  margin: 40px 0px 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.masthead-intro {
    font-size: 120px;
    line-height: 100px;
    margin: 5px 0px 100px 0px;
    font-family: 'Beth Ellen', cursive;

}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-content: center;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  display: block;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
  color: #ffffff;
  background-color: #0f0f0f;
}